@model StackOAuth.Models.QuestionsModel

@{
    ViewData["Title"] = "Details";
}

<h2>@Html.DisplayFor(model => model.Title)</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Question
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Body)
        </dd>
        <dt>
            Date Posted
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PostDate)
        </dd>
        <dt>
            Vote Count
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VoteCount)
        </dd>
    </dl>
</div>
<div>
    <p>@Model.AnswersModel.Count()</p>
    @foreach(var answer in Model.AnswersModel)
    {   
        <p>@answer.Body</p>
        <span>@answer.AppUser.UserName</span>
    }
</div>
<div>
    <form asp-action="Create" asp-route-id=@Model.Id asp-controller="Answers">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <textarea rows="5" cols="20" name="body" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
