@model IEnumerable<StackOAuth.Models.QuestionsModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Body)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PostDate)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
               <a asp-controller="Questions" asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Body)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostDate)
            </td>
            <td>
                <a asp-controller="Answers" asp-action="Create">Answer</a> |
                <a asp-controller="Comments" asp-action="Create">Comment</a> 
            </td>
        </tr>
}
    </tbody>
</table>
